.dashboard-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: white;
}

.dashboard {
  overflow-x: hidden;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.root-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-container {
  overflow-x: hidden;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 50px;
  width: calc(100% - 100px);
  height: 100%;
  background: var(--gray);
}

.content-title {
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 5px;
  color: var(--darkblue);
  font-weight: 600;
}

.content {
  border-radius: 10px;
  width: 100%;
  background: white;
}

.table-container {
  display: flex;
  flex-direction: column;
}

.table-header {
  display: flex;
  color: white;
  align-items: center;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 30px;
  background: var(--darkgray);
}

.table-column {
  margin: 0;
  display: flex;
  justify-content: center;
}

.table-row {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.table-dropdown {
  padding: 0;
  border: 1px solid gray;
  width: 100%;
  height: 60%;
  box-sizing: border-box;
  background: white;
  color: gray;
}

.table-small-column {
  flex: 1;
}

.table-medium-column {
  flex: 1.5;
}

.table-large-column {
  flex: 2;
}

.table-largest-column {
  flex: 2.5;
}

.player-root-container {
  display: flex;
  width: 100%;
}

.player-edit {
  padding-right: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.player-edit-odd {
  background: var(--paleblue);
}

.player-edit-btn {
  border: 0;
}

.player-edit-blank {
  cursor: auto;
}

.player-root-container svg {
  width: 20px;
  height: 20px;
}

.player-root-container-odd svg {
  background: var(--plaeblue);
}

.player-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  background: white;
}

.player-container input {
  padding: 0;
  width: 100%;
  height: 60%;
  box-sizing: border-box;
}

.player-container-odd {
  background: var(--paleblue);
}

.player-add-new-btn {
  width: 100%;
  border: 0;
  height: 50px;
  background: white;
  cursor: pointer;
  transition: 0.2s all ease;
  border-radius: 0 0 7px 7px;
}

.player-add-new-btn:hover {
  background: var(--lightbluehover);
}

.player-add-new-btn svg {
  width: 25px;
  height: 25px;
  transition: 0.2s all ease;
}

.player-add-new-btn:hover svg path {
  fill: white;
}

.game-column {
  font-size: 14px;
  text-align: center;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 60px;
  font-size: 14px;
}

.game-btn-container {
  display: flex;
  justify-content: center;
  flex: 1;
}

.game-btn {
  cursor: pointer;
  color: white;
  background: var(--lightblue);
  border: 0;
  border-radius: 5px;
  width: 70px;
  height: 35px;
  transition: all 0.1s ease;
}

.game-btn:hover {
  background: var(--lightbluehover);
}