.input-root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 90%;
    max-width: 400px;
    margin-bottom: 10px;
    padding: 15px;
    padding-bottom: 30px;
    padding-top: 30px;
    background: white;
    border-radius: 5px;
}

.input-nav {
    margin-bottom: 20px;
    color: white;
}

form {
    width: 80%;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 10px;
}

label {
    color: var(--lightblue);
    margin-bottom: 6px;
}

input {
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 3px;
    height: 20px;
}

input:focus {
    outline: none !important;
    border: 1px solid var(--lightbluehover);
    box-shadow: 0 0 10px #719ECE;
}

h2 {
    text-align: center;
}

body {
    background: var(--darkbg)
}

.input-link {
    text-decoration: none;
    color: var(--lightbluehover);
}

.input-link:hover {
    color: var(--lighterblue);
}

.alt-text {
    color: white;
}

button {
    width: 100%;
    background: var(--lightblue);
    border: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
    border-radius: 3px;
    height: 40px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: background 0.1s ease;
}

button:hover {
    background: var(--lightbluehover);
}

.signup-container {
    height: 90%;
}